/* banner section start */
/* laptop device */
@media screen and (max-width: 1200px) {
  .banner-content h1 {
    font-size: 48px;
  }
  .service-card {
    padding: 80px 20px;
  }
  .story-images img {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}

/* tablet- device */
@media screen and (max-width: 1024px) {
  .banner {
    flex-direction: column-reverse;
  }
  .banner-image {
    width: 100%;
  }
  .banner-content {
    width: 100%;
    text-align: center;
  }
  .service-card-container {
    flex-direction: column;
  }
  .service-card {
    max-width: 100%;
  }
  .story-card-container {
    flex-direction: column;
  }
  .story-content {
    width: 100%;
  }
  .story-images {
    width: 100%;
  }
  .reviews-img {
    width: 30%;
  }
}

/* mobile divice up to 420 */
@media screen and (max-width: 640px) {
  .btn,
  .btn-white {
    padding: 12px 20px;
  }
  .banner-content {
    text-align: center;
  }
  .banner-content h1 {
    font-size: 36px;
  }
  .heading-contant h2 {
    font-size: 32px;
  }
  .country-card-container {
    flex-direction: column;
  }
  .country-card-container h2 {
    text-align: center;
  }
  .name-position {
    text-align: start;
  }
  .reviwes-content {
    font-size: 14px;
  }
  .reviews-img {
    width: 30%;
  }
}

/* banner section End */

/* service section start */

/* service section end */
