
/* body{
    min-height: 100vh;
    background-image: linear-gradient(#FFFFFF, #EBDCFF);
    margin: 0;
    padding: 0;
    
}
.banner-container{
    background-color: aquamarine;
    
    margin:100px auto 120px auto;
}
.banner{
    width: 87.5%
} */